version: 2.1
orbs:
  codecov: codecov/codecov@1.0.4
jobs:
  build:
    docker: 
      - image: circleci/node:10
    environment:
    working_directory: ~/eslint-plugin-better-mutation
    steps:
          - checkout
          - run:
              name: Update yarn
              command: 'sudo npm install -g yarn@latest'
          - restore_cache:
              key: yarn-cache-{{ checksum "yarn.lock" }}
          - run: 
              name: Install Dependencies
              command: yarn
          - run:
              name: Run Tests
              command: yarn run test
          - save_cache:
              key: yarn-cache-{{ checksum "yarn.lock" }}
              paths:
                - node_modules

          - store_artifacts:
              path: coverage
          - store_test_results:
              path: reports/junit
          - store_artifacts:
              path: reports/junit
          - codecov/upload:
              file: coverage/lcov.info